<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aipulse">

    <!-- Permission pour capteur cardiaque si utilisé -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <application
        android:allowBackup="true"
        android:label="AI-Pulse"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <!-- Activité Résultat -->
        <activity
            android:name=".ResultActivity"
            android:exported="false" />




        <!-- Activité Historique -->
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />

        <!-- Activité Principale (point d'entrée) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
